extends layout/layout.pug

block script
  script(src='/js/app/counter.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js') 
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')

  style.
    @media (min-height: 200px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    }
    }

block content

  input#previousData(type='hidden' value='[]')
  .ui.fluid.container.segment
    //- .ui.top.attached.tabular.menu
    //-   a.item.active(data-tab="purpose") Select by purpose
    //-   a.item(data-tab="search") Search partner
    //- .ui.bottom.attached.tab.segment.active.purpose-tab(data-tab="purpose")
    //- .ui.bottom.attached.tab.segment.active.purpose-tab(data-tab="search")
    .ui.pointing.secondary.menu
      .item.active(data-tab="export")
        | Export
      .item(data-tab="import")
        | Import
    .ui.tab.active.segment(data-tab="export")
      .ui.grid
        .two.wide.column
          .ui.vertical.attached.tabular.menu
            a.item.active#user-tab(data-tab="user", onclick="setViewDataButton($(this))")
              | User
            a.item#project-tab(data-tab="project", onclick="setViewDataButton($(this))")
              | Project
            a.item#score-tab(data-tab="score", onclick="setViewDataButton($(this))")
              | Score
            a.item#history-tab(data-tab="history", onclick="setViewDataButton($(this))")
              | History
            a.item#comment-tab(data-tab="comment", onclick="setViewDataButton($(this))")
              | Comment
            a.item#message-tab(data-tab="message", onclick="setViewDataButton($(this))")
              | Message
        .twelve.wide.column
          .ui.vertical.attached.tab.active(data-tab="user")
            .ui.segment#user-segment
              table.gridtable#user-table
                thead
                  tr.tableHeader
                    th Firstname
                    th Lastname
                    th Occupation
                    th Gender
                    th AvgScore
                    th TotalTime
                    th SystemAccessTime
                    th Username
                    th Email
                    th Img
          .ui.vertical.attached.tab(data-tab="project")
            .ui.segment#project-segment
              table.gridtable#project-table
                thead
                  tr.tableHeader
                    th Language
                    th Swaptime
                    th Assignment_id
                    th Programming_style
                    th Week
                    th Pid
                    th Creator
                    th Collaborator
          .ui.vertical.attached.tab(data-tab="score")
            .ui.segment#score-segment
              table.gridtable#score-table
                thead
                  tr.tableHeader
                    th Enter
                    th Pairing
                    th Pid
                    th Uid
                    th Score
                    th Time
                    th Lines of Code
                    th Error Count
          .ui.vertical.attached.tab(data-tab="history")
            .ui.segment#history-segment
              table.gridtable#history-table
                thead
                  tr.tableHeader
                    th Pid
                    th File
                    th Line
                    th Ch
                    th Text
                    th User
          .ui.vertical.attached.tab(data-tab="comment")
            .ui.segment#comment-segment
              table.gridtable#comment-table
                thead
                  tr.tableHeader
                    th File
                    th Line
                    th Pid
                    th Description
          .ui.vertical.attached.tab(data-tab="message")
            .ui.segment#message-segment
              table.gridtable#message-table
                thead
                  tr.tableHeader
                    th Pid
                    th Uid
                    th Message
        .two.wide.column
          .ui.segment
            .ui.doubling.one.column.grid
              .column
                p(style='text-align:center;')
                  b BUTTON
              .column
                div(align='center')
                  .ui.blue.button#view-data(onclick="onClickViewDataButton(\"user\")")
                    | View
              .column
                div(align='center')
                  .ui.green.button#exportCsvFile
                    | Export
    .ui.tab.segment(data-tab="import")
      .ui.grid
        .two.wide.column
          .ui.vertical.attached.tabular.menu
            a.item.active#totalScoreTab(data-tab="totalScore")
              | Total Score
            a.item#rawScoreTab(data-tab="rawScore")
              | Raw Score
        .eleven.wide.column
          .ui.vertical.attached.tab.active(data-tab="totalScore")
            .ui.segment#totalScoreImportationSegment
              table.gridtable#totalScoreTable
                thead
                  tr.tableHeader
                    th Username
                    th Name
                    th Problem Score
                    th Quiz Score
                    th Total
          .ui.vertical.attached.tab(data-tab="rawScore")
            .ui.segment#rawScoreImportationSegment
              | Raw score importation segment
        .three.wide.column
          .ui.segment
            .ui.grid
              .row
                .column
                  p(style='text-align:center;')
                    b BUTTON
              .row
                .column
                  input#inputFile(type='file')
              .row
                .column
                  input#viewFile(type='button' value='Import File')
              .row
                .column
                  .ui.blue.button#updateTotalScores
                    | Update Total Scores
