extends layout/layout.pug

block script
  script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
  link(rel='stylesheet' href='/easy-autocomplete/dist/easy-autocomplete.min.css')
  link(rel='stylesheet' href='/css/main.css')

  style.
    @media (min-height: 200px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    }
    }

block content
  +assignmentModal()
  .ui.segment.container
    .ui.two.column.grid
      .middle.aligned.column
        h1.ui.header !{dataSets.origins.assignment.title}
      if user.info.occupation == 'teacher'
        .right.aligned.column
          .ui.button.approve.grey#editAssignment(onclick='showAssignmentModal('+`${dataSets.reforms.assignment}`+')') Edit
    .ui.two.column.grid
      .column(style="display: flex;")
        .ui.segment(style="flex: 1;")
          - for (var i=0 ; i < 9 ; i++)
              p !{arrFile[i]["markdown"]}

    a.button.ui.labeled.icon.button(href='/classroom?section_id='+dataSets.origins.section.section_id, style='margin-top:20px;')
      i.reply.icon
      font Back
