extends layout/layout.pug

block script
    script(src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js")
    script(src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js")
    script(src='/js/app/profile.js')
block content
    .ui.grid.container
      .sixteen.wide.column
        input(type='hidden' id='userId' value=user._id)
        div(id="scoreChartContainer" style="height: 500px; width: 100%;")
        div(id="timeChartContainer" style="height: 500px; width: 100%;")
