include ./mixins/_displayFlashes.pug
include ./mixins/_form

html
  head
    title= `${title} | CodeBuddy`
    include ./layout/header.pug
    block header
        meta(charset='utf-8')
        style(type='text/css').
          body {
            background-color: #FFFFFF;
          }
          .ui.menu .item img.logo {
            margin-right: 1.5em;
          }
          .main.container {
            margin-top: 7em;
          }
          .wireframe {
            margin-top: 2em;
          }
          .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
          }
        style#extension_grayscale(type='text/css').
          html *, * { filter: initial !important; }
        style(type='text/css').
            .row{
              max-width:900px;
            }
    block script
  body
    include ./layout/menu.pug
    block content
        .ui.raised.very.padded.text.container.segment
          h1.ui.header Register Now
          p Fill in the form below to get access
          +displayFlashes(flashes)
          +registerForm()
        script(src='/js/static/jquery.min.js')
        script(src='/semantic/dist/semantic.min.js')
    include ./layout/footer.pug
    block footerExtend



