.chat {
    height: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.curve-box {
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; */
    border-radius: 25px;
    background: #FFFFFF;
    padding: 8px; 

    /* overflow: hidden; */
}

.purpose-segment-tab {
    border: 2px solid rgb(85, 81, 81);
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 4px !important;
    height: 100px;
}