/* .chat {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
} */

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: violet;
}

/* selected link */
a:active {
  color: blue;
}

.first_container_menu {color: blue;}
.second_container_menu {color: blue;}
.third_container_menu {color: blue;}
.settings-menu {color: blue;}
.first_container_menu:hover {color: violet;}
.second_container_menu:hover {color: violet;}
.third_container_menu:hover {color: violet;}
.settings-menu:hover {color: violet;}

.curve-box {
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; */
    border-radius: 25px;
    background: #FFFFFF;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    /* overflow: hidden; */
}

.curve-box-user {
    border-radius: 25px;
    background: #E0E1E2;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

/* .purpose-segment-tab {
    border: 2px solid rgb(85, 81, 81);
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 4px !important;
    height: 100px;
} */

.user-purpose.box {
    height:300px;
    overflow-y: scroll;
}

.student-list-container.box {
    height:500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.your-score-label {
    position: fixed;
    z-index: 1;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left;
}

.invitation-card {
    width: 500px !important;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}

.img-owner{
    position: absolute;
    left:10px;
    top: 30px;
}
.img-partner{
    position: absolute;
    left: 40px;
    top: 0px;
}

#folder {
    position:relative;
}

.disabled {
    pointer-events:none;
}

.circle_status {
    position: absolute;
}

.countdown {
    font-family: 'Roboto',sans-serif;
    font-size: 45px;
}

.progress-text {
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    margin: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    font-family: 'Roboto',sans-serif;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.padding-10 {
    padding: 10px !important;
}

.padding-left-20 {
    padding-left: 50px !important;
}

.padding-right-20 {
    padding-right: 50px !important;
}


/* ---------- GENERAL ---------- */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#chatinput {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	right: 24px;
	position: fixed;
	width: 300px;
}

#live-chat header {
	background: #676868;
	border-radius: 8px 8px 0 0;
	color: #fff;
	cursor: pointer;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#live-chat header p {
    font-size: 16px;
    padding-left: 25px;
}

#angle-up{
    font-size: 2em;
    -webkit-transition:all 500ms ease-in 0s;
    -moz-transition: all 500ms ease-in 0s;
    -o-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#live-chat p {
	font-size: 12px;
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 24px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
    width: 220px;
}

.chatbottom{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.chatbox {
    display: initial;
}

.chat-history {
    background: #f3f0f0;
	height: 252px;
	padding: 8px 24px;
	overflow-y: scroll;
}

/*scrollbar */
.chat-history::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
.chat-history::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
.chat-history::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
.chat-history::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
.chat-history::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.5);
}

.chat-message {
	margin: 16px 0;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

#close-tab-icon{
    right:0;
    position: absolute;
    margin-top:-18px;
    color:#b30202;
}
#badge1 {
    border-radius: 25px;
    background-color:#2185d0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    margin-top: 22px;
    margin-left: 10px;
    display:inline-block;
    height: 40px;
    color: white;
}

#close-tab-icon:hover{
    right:0;
    position: absolute;
    margin-top:-18px;
    color:#db2828;
}

#delete-icon{
    right:0;
    position: absolute;
    margin-top:-15px;
    color:#828282;
}

#delete-icon:hover{
    right:0;
    position: absolute;
    margin-top:-15px;
    color:#b30202;
}

.file-active {
    color: #4183c4 !important;
}

.ui.avatar.image.partner-file-icon{
    width:20px;
    height:20px;
}


.cursor-pointer {
    cursor: pointer;
}

#exportBtn{
    margin-left: 10px;
}

#export-checklist{
    margin-top: 10px;
}

.export-file-item{
    margin-left: 20px;
    margin-top: 5px;
}

#badge2 {
    border-radius: 25px;
    background-color:#21ba45;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    margin-top: 22px;
    margin-left: 10px;
    display:inline-block;
    height: 40px;
    color: white;
}

.code-block-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 3px;
}

.code-block {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.code-block div:first-child {
    flex: 5;
}

.code-block div:nth-child(2) {
    flex: 95;
}

.nowrap {
    white-space: nowrap ;
}
