mixin registerForm(user)
  p Fill in the form below to get access
      form.ui.form(action='/register' method='POST')
        h4.ui.dividing.header Access information
        .required.field
          label Username
          |  
          input(type='text' name='username' placeholder='codebuddy.com/profile/`username`' required)
        .required.field
          label Password
          |  
          input(type='password' name='password' required)
        .required.field
          label E-mail
          |  
          input(type='email' name='email' placeholder='your-mail@email.com' required)
        h4.ui.dividing.header Personal information
        .required.field
          label First Name
          |  
          input(type='text' name='firstname' placeholder='First Name' required)
        .required.field
          label Last Name
          |  
          input(type='text' name='lastname' placeholder='Last Name' required)
        .field
          label Occupation
          |
          select.ui.dropdown.day(name='occupation')
            option(value='student') Student
            option(value='teacher') Teacher
          //- input(type='text' name='occupation' placeholder='occupation')
        .required.field
          label Gender
          .field
            .ui.radio.checkbox
              input(type='radio' name='gender' value='male')
              |  
              label Male
          .field
            .ui.radio.checkbox
              input(type='radio' name='gender' value='female')
              |  
              label Female
        textarea(rows='5')
          | This software is a work developed by Ms.Tharathip Malaimarn and Ms.Pawarisa 
          | Thong-ngoen from King Mongkut's Institute of Technology Ladkrabang under the provision of Asst.Prof. Teerapong Leelanupab (Ph.D.) under An Enhanced Remote Software Development Environment for Pair-Programming with Code Review and Quality Analysis , which has been supported by the National Electronics and Computer Technology Center (NECTEC), in order to encourage pupils and students to learn and practice their skills in developing software. Therefore, the intellectual property of this software shall belong to the developer and the developer gives NECTEC a permission to distribute this software as an “as is ” and non-modified software for a temporary and non-exclusive use without remuneration to anyone for his or her own purpose or academic purpose, which are not commercial purposes. In this connection, NECTEC shall not be responsible to the user for taking care, maintaining, training or developing the efficiency of this software. Moreover, NECTEC shall not be liable for any error, software efficiency and damages in connection with or arising out of the use of the software.”

      
        .required.field
          .ui.checkbox
            input(type='checkbox' name="agree" tabindex='0' required)
            |  
            label I agree to the Terms and Conditions 
        |  
        button.ui.button(type='submit' onclick='validat()') Register

mixin signinForm(user)
  form.ui.large.form(action='/signin' method='POST')
    .field
      .ui.left.icon.input
        i.user.icon
        |  
        input(type='text' name='email' placeholder='Username' required)
    .field
      .ui.left.icon.input
        i.lock.icon
        |  
        input(type='password' name='password' placeholder='Password' required)
    button.ui.fluid.large.yellow.submit.button(type='submit' style='font-color:black !important;') Sign In
