mixin pairStudent()
  .ui.small.modal#student_list_modal
    i.close.icon#close_student_list
    .header Student list
    .content
      input#cloning_partner_keys(type='hidden', value='{}')
      input#cloning_pairing_objective(type='hidden', value='{}')
      input#active_filter(type='hidden', value='')
      button.ui.active.button#alphabetical_filter(style="font-size:7px;", value='A-Z') A-Z
      button.ui.button#avg_score_filter(style="font-size:7px;", value='1-100') 1-100
      button.ui.right.floated.button#change_pair(onclick='on_click_change_pair('+information_set.common.pairing_sessions[0].pairing_session_id+', \"'+information_set.common.section.section_id+'\")') Change pair
      .ui.fluid.container.segment.student-list-container.box
        .ui.middle.aligned.list.student-container
          .ui.segment
            .ui.two.column.very.relaxed.grid
              .column
                font No student.
              .column
                font No student.
            .ui.vertical.divider
              i.line.chart.icon
      .ui.basic.center.aligned.segment
        .actions
          button.ui.button.approve.green#confirm-pairing(type='submit', value='create') Confirm
          .ui.button.approve.red#cancel-pairing(data-value='cancel') Cancel

  .ui.small.modal#partner_selection_modal
    .header Select partner
    .content
      .ui.top.attached.tabular.menu
        a.item.active(data-tab="purpose") Select by purpose
        a.item(data-tab="search") Search partner
      .ui.bottom.attached.tab.segment.active.purpose-tab(data-tab="purpose")
        a.ui.red.ribbon.label Recommended
        .ui.grid
          .six.wide.column
              #ui-purpose-0.ui-purpose.ui.segment.top.attached.purpose-segment-tab(data-tooltip='The difference of the score is less than 10 points.' data-position='left center')&attributes({'data-purpose':'quality', 'data-uid':user._id, 'data-score':user.avgScore})
                .row
                  i.large.circular.inverted.teal.line.chart.icon
                .row
                  | Quality oriented
              #ui-purpose-1.ui-purpose.ui.segment.attached.purpose-segment-tab(data-tooltip='The difference of the score is in between 10 to 20 points.' data-position='left center')&attributes({'data-purpose':'experience', 'data-uid':user._id, 'data-score':user.avgScore})
                .row
                  i.large.circular.inverted.teal.line.idea.icon
                .row
                  | Mutual improvement
              #ui-purpose-2.ui-purpose.ui.segment.bottom.attached.purpose-segment-tab(data-tooltip='The difference of the score is in between 20 to 30 points.' data-position='left center')&attributes({'data-purpose':'train', 'data-uid':user._id, 'data-score':user.avgScore})
                .row
                  i.large.circular.inverted.teal.line.student.icon.center.aligned
                .row
                  | Teaching &amp; Learning
          .ten.wide.column
            .ui.circular.labels.your-score-label
                a.ui.red.label.student-score Student score -
            .ui.segment.container.user-purpose.box
              .ui.middle.aligned.divided.list.user-purpose-list
                  li.ui.item Please select your purpose.
      .ui.bottom.attached.tab.segment.purpose-tab(data-tab="search")
        .ui.grid
          .six.wide.column
            .ui.category.search
              .ui.icon.input
                input.prompt(type="text", placeholder="Search by username...", id="search-user-by-input")
                i.search.icon
          .ten.wide.column
              .ui.segment.container.user-purpose.box
                .ui.middle.aligned.list.user-list
      .item
        .content
          .description
            button.ui.labeled.icon.button#back-to-student-list-modal
              i.reply.icon
              font Back
