include ../mixins/_displayFlashes
include ../mixins/_form
include ../mixins/_detailSection.pug
include ../mixins/_pairStudent.pug
include ../mixins/_modal.pug

html
  head
    title= `${title} | CodeBuddy`
    include header
    block header
    style(type='text/css').
        .row{
          max-width:900px;
        }
    block script
  body
    include menu
    block content
    include footer
    block footerExtend
