include ../mixins/_displayFlashes
include ../mixins/_form
include ../mixins/_modal
html
  head
    title= `${title} | CodeBuddy`
    include header
    block header
    style(type='text/css').
        .row{
          max-width:900px;
        }
    block script
  body
    script(src='/js/static/socket.io.min.js')
    script(data-username=`${user.username}` data-occupation=`${user.info.occupation}` src='/js/app/notification.js')
    include menu
    block content
